<div class="page">
  <section class="chat">
    <div class="chat-timeline">
      <!-- <div
       *ngFor="let comment of comments"
       class="list-group-item list-group-item-action flex-column align-items-start border-0"
      >
        <div class="media">
          <div
           *ngIf="comment.user.uid !== currentUser.uid"
           class="media-left"
          >
            <a href="#" class="icon">{{ comment.user.initial }}</a>
          </div>
          <div class="media-body">
            <div class="d-flex w-100 justify-content-between">
              <h4 class="media-heading">{{ comment.user.name }}</h4>
              <small class="media-date">{{comment.date | commentDate }}</small>
            </div>
            <pre>{{comment.message}}</pre>
          </div>
          <div
           *ngIf="comment.user.uid === currentUser.uid"
           class="media-right"
          >
            <a href="#" class="icon">{{ comment.user.initial }}</a>
          </div>
        </div>
      </div> -->
      <div
       *ngFor="let chat of chats"
        class="list-group-item list-group-item-action flex-column align-items-start border-0"
      >
        <div class="media">
          <div
           *ngIf="chat.uid !== currentUser.uid"
           class="media-left"
          >
          <a href="#" class="icon">{{ otherUserIntial }}</a>
          </div>
          <div class="media-body">
            <div class="d-flex w-100 justify-content-between">
              <h4 class="media-heading">{{ chat.user[0].name }}
                <ng-container *ngIf="chat.user[0].uid === currentUser.uid">
                  <i class="fa fa-edit ml-2" title="編集" (click)="chat.isEdit = !chat.isEdit"></i>
                  <!-- <i class="fa fa-edit ml-2" title="編集"></i> -->
                  <i class="fa fa-trash ml-2" title="削除" (click)="deleteMessage(chat)"></i>
                  <div></div>
                </ng-container>
              </h4>
              <small class="media-date">{{chat.date | date:commentDate }}</small>
            </div>
            <ng-container *ngIf="!chat.isEdit">
            <!-- <ng-container> -->
              <pre>{{chat.message}}</pre>
            </ng-container>
            <ng-container *ngIf="chat.isEdit">
              <div class="input-group">
                <textarea [(ngModel)]="chat.message" name="edit-comment" class="form-control"></textarea>
                <!-- <input [ng-hide] value="chat.id"> -->
              </div>
              <div class="edit-buttons">
                <button class="btn btn-success btn-sm" (click) ="editMessage(chat)">保存</button>
                <button class="btn btn-warning btn-sm" (click) ="chat.isEdit = false">キャンセル</button>
              </div>
            </ng-container>
          </div>
          <div
           *ngIf="chat.uid === currentUser.uid"
            class="media-right"
          >
            <a href="#" class="icon">{{ currentUserIntial }}</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="chat-editor">
    <form class="chat-form">
      <div class="form-header d-flex flex-row-reverse mb-2">
        <span class="input-group-btn">
          <button
           (click) ="addComment(comment); comment = ''"
           class="btn btn-info btn-sm"
           type="submit"
           tabindex="2"
          >
           送信
          </button>
        </span>
      </div>
      <div class="input-group">
        <textarea
         [(ngModel)]="comment"
         name="comment"
         class="form-control"
         placeholder="メッセージを入力"
         tabindex="1"
        ></textarea>
      </div>
    </form>
  </section>
</div>
